
@font-face {
  font-family: 'HelveticaNeue';
  src:url(../fonts/HelveticaNeueLTPro-Cn.eot);
  src:url(../fonts/HelveticaNeueLTPro-Cn.ttf);
  src:url(../fonts/HelveticaNeueLTPro-Cn.otf);
}

@font-face {
  font-family: 'FontAwesome';
  src:url(../fonts/fontawesome-webfont.eot);
  src:url(../fonts/fontawesome-webfont.ttf);
  src:url(../fonts/fontawesome-webfont.svg);
  src:url(../fonts/fontawesome-webfont.woff);
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src:url(../fonts/HelveticaNeueLTPro-Md.eot);
  src:url(../fonts/HelveticaNeueLTPro-Md.ttf);
  src:url(../fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src:url(../fonts/MyriadPro-Bold.eot);
  src:url(../fonts/MyriadPro-Bold.ttf);
  src:url(../fonts/MyriadPro-Bold.otf);
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src:url(../fonts/MyriadPro-Regular.eot);
  src:url(../fonts/MyriadPro-Regular.ttf);
  src:url(../fonts/MyriadPro-Regular.otf);
}

.logo { padding: 10px 0; margin:0 auto; background:#d6bf86; text-align:center;}

#search { padding:10px; background:#e7e7e7; }

#search .input-group { width:100%; }

#search input { border-radius:10px; font-size:28px; font-family: 'HelveticaNeue'; }
	
#search .form-control { height:42px !important; }
	
#search	input:focus {
    /* Picked a random icon from Google */
    background-position: -20px center;
    text-indent: 0;
}

#search input::-webkit-input-placeholder {
   text-align:center;
}

#search input:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

#search input::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

#search input:-ms-input-placeholder {  
   text-align:center; 
}

.navigation { padding: 0 20px; margin: 0; }

.navigation ul { padding: 0; margin: 0; }

.navigation ul li { list-style:none; padding: 30px 20px; margin: 0; border-bottom: 1px solid #c8c7cc; display:inline-block; width:100%; }

.navigation ul li:last-child { border-bottom: none;}

.navigation ul li a { font-family: 'HelveticaNeue'; color:#937c43; font-size:50px; padding: 0; margin: 0; }

.navigation ul li a i { float:left; margin-top:10px; }

.navigation ul li a span { padding:0; margin: 5px 0 0 10px; display:inline-block; float:left; }

.m-books-icon { padding: 0; margin: 0; background:url(../images/m-writing-pen-icon.png) no-repeat; display:inline-block; width:61px; height:59px; }

.m-ebooks-icon { padding: 0; margin: 0; background:url(../images/m-ebooks-icon.png) no-repeat; display:inline-block; width:61px; height:59px; }

.m-apps-icon { padding: 0; margin: 0; background:url(../images/m-apps-icon.png) no-repeat; display:inline-block; width:61px; height:59px; }

.m-kids-icon { padding: 0; margin: 0; background:url(../images/m-kids-icon.png) no-repeat; display:inline-block; width:61px; height:59px; }

.m-collection-icon { padding: 0; margin: 0; background:url(../images/m-collection-icon.png) no-repeat; display:inline-block; width:61px; height:59px; }

.nav-arrow { background:url(../images/nav-icon.png) no-repeat; float:right; height:29px; width:18px; margin-top:25px; }

.apps-banner { padding: 0 20px; margin: 0; }

.like-us { padding: 0 20px; margin: 10px 20px; background:#d6bf86; }

.like-us p { font-size:40px; color:#FFF; padding: 0; margin: 0; font-family: 'HelveticaNeueMedium'; }

.social-media-buttons { padding: 0 20px 10px 20px; margin: 0; }

#fb-root { width:50px; float:left; display:inline-block; }

#twitter-root { float:left; display:inline-block; margin: 0 10px; }

.fix-pos { width:100%; float:left; display:inline-block;}

.fix-pos p { padding: 5px 0; margin: 0; font-size:30px; }

.fix-pos p a { color:#FFF; }

.fix-left { text-align:center; color:#FFF; padding: 0; margin: 0; font-family: 'HelveticaNeueMedium'; width:50%; float:left; background:#e06363; }

.fix-right { text-align:center; color:#FFF; padding: 0; margin: 0; font-family: 'HelveticaNeueMedium'; width:50%; float:left; background:#d6bf86; }

.books-container { padding: 0 20px; margin: 20px 0; }

.left-books { margin: 0; padding: 0; text-align:center; }

.left-books a { padding: 0px; margin: 0; text-align:center; }

.left-books a img { margin: 0 auto; padding: 10px; border-radius:10px;  border: 1px solid #d7d7d7; }

.right-books { padding: 0; margin: 0; }

.right-books section { padding: 0; margin: 0; color:#a58e54; font-size:30px; font-family: 'MyriadPro-Bold'; }

.right-books article { padding: 0; margin: 0; font-size:28px; color:#2d2d2d; font-family: 'MyriadPro-Regular'; }

.right-books p { padding: 0; margin: 0; font-size:27px; color:#2d2d2d; font-family: 'MyriadPro-Regular'; }

.stars { border-bottom: 1px solid #c8c7cc; padding-bottom:10px; margin-bottom:10px; }

.last-books-container { padding-bottom:60px;}

.btn-danger { padding: 6px 45px !important; margin: 10px 0 0 0; font-size:24px !important; font-family: 'MyriadPro-Bold'; }

.rating-symbol { font-size:18px; }

.rating-symbol { cursor:pointer; }

.detail-stars { border-bottom: none !important; }

.social-media-icons a img { float:left; display:inline-block; padding: 0; margin: 7px 10px 10px 0; }

.detail-img { max-width:307px; margin: 0 auto; padding: 10px; border-radius:10px;  border: 1px solid #d7d7d7; }

.detail-img a img { border:none !important; padding: 0 !important;  }

.sample-btn { width:100% !important; border-radius: 0 !important; }

.detail-right-books { padding: 0 20px 25px 20px; }

.detail-right-books textarea { font-family: 'MyriadPro-Regular'; font-size:22px; }

.rating { float:left; margin-right:10px !important; }

.rating-text-stars { margin-top:7px !important; }

input.empty { font-family: 'FontAwesome' !important; font-style: normal; font-weight: normal; text-decoration: inherit; }

input.empty::-webkit-input-placeholder { font-family: 'FontAwesome' !important; }

input.empty::-moz-input-placeholder { font-family: 'FontAwesome' !important; }

input.empty::-ms-input-placeholder { font-family: 'FontAwesome' !important; }

/*
@media (max-width: 1030px) { #search input { background-position:44% center; } }

@media (max-width: 990px) { #search input { background-position:42% center; } }

@media (max-width: 630px) { #search input { background-position:40% center; } }

@media (max-width: 520px) { #search input { background-position:37% center; } }

@media (max-width: 450px) { #search input { background-position:36% center; } }

@media (max-width: 400px) { #search input { background-position:31% center; } }

@media (max-width: 360px) { #search input { background-position:30% center; } }

@media (max-width: 310px) { #search input { background-position:29% center; } }

@media (max-width: 290px) { #search input { background-position:28% center; } }

@media (max-width: 275px) { #search input { background-position:27% center; } }
*/

@media (max-width: 390px) { .navigation ul li a { font-size:20px; } .navigation ul li a span { margin-top:20px; } .nav-arrow { margin-top:21px;} }